

.radio_select img {
    width : 30px;
    padding: 2px;
    margin : 2px;
}

.radio_select div {
    width : 30px;
    height : 30px;
}

.radio_select input{
    display: none;
}

.radio_select .selected img{
    background-color: #ccc;
}

.radio_select .selected div{
    width : 32px;
    height : 32px;
    margin : 2px;
}


.radio_select label {
    display: inline-block;
    cursor: pointer;
}

.radio_select label:hover {
    background-color: #efefef;

}

.maximize {

}

.pan {
  
}