.controlElements {
    float:left
}

#placeholder {
    height: 100px; 
}

#controls {
    height: 100px; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: white;
    z-index:10;
    width: 100%;
}

#touchEn{
    padding : 2px;
    margin : 2px;
    width:30px;
    background-color: red;
}